# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-m8lxy+&rpjzpr(c)x4@(7r+!x(!j_t=@=gc7xykuig954sz$df
ALLOWED_HOSTS=localhost,127.0.0.1,*.railway.app

# CORS Settings (frontend address)
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Database URL Configuration (Postgres in production, SQLite in local if blank)
# DATABASE_URL=postgres://user:password@host:port/dbname
